<?xml version="1.0" encoding="UTF-8"?>

<display-name>select</display-name>

<welcome-file-list>
 <welcome-file>select.html</welcome-file>
 </welcome-file-list>
 
 
 
 <servlet-mapping>
 <servlet-name>select</servlet-name>
 <!--問② URLパターンを記述してください。-->
 <url-pattern>/select</url-pattern>
 </servlet-mapping>
 
 
  
 <servlet>
 <servlet-name>select</servlet-name>
 <!--問① サーブレットのクラス名を入れてください。-->
 <servlet-class>selectServlet</servlet-class>
 </servlet>
 
 
 
 </web-app>
 
 